In [84]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle

In [85]:
columns = ['old', 'feels', '23h-1h', '1h-3h', '3h-5h', '5h-7h', '7h-9h', '9h-11h', '11h-13h', '13h-15h', '15h-17h', '17h-19h', '19h-21h', '21h-23h', 'total_hours', 'result']

key_time_frame = ['23h-1h', '1h-3h', '3h-5h', '5h-7h', '7h-9h', '9h-11h', '11h-13h', '13h-15h', '15h-17h', '17h-19h', '19h-21h', '21h-23h']


data = pd.DataFrame(columns=columns, data=[])

# data.loc[0, :] = columns
data

Empty DataFrame
Columns: [old, feels, 23h-1h, 1h-3h, 3h-5h, 5h-7h, 7h-9h, 9h-11h, 11h-13h, 13h-15h, 15h-17h, 17h-19h, 19h-21h, 21h-23h, total_hours, result]
Index: []

In [86]:
# add new data with result > 3

time_frame_case_1 = ['1h-3h', '3h-5h', '5h-7h', '7h-9h', '9h-11h']
time_frame_case_2 = ['3h-5h', '5h-7h', '13h-15h', '15h-17h', '17h-19h', '19h-21h']

time_frame_case_3 = ['23h-1h', '1h-3h', '3h-5h', '5h-7h', '13h-15h']
time_frame_case_4 = ['23h-1h', '1h-3h', '3h-5h', '5h-7h']

for i in range(2500, 2500 + 150):
    # cols = np.array([0]*16)
    data.loc[i, key_time_frame] = np.array([0]*12)
    
    feature_mock = np.random.randint(2, size=5)
    data.loc[i, time_frame_case_1] = feature_mock
    data.loc[i, ['old']] = np.random.randint(10, size=1)+18
    data.loc[i, ['total_hours']] = sum(feature_mock)*2
    data.loc[i, ['feels']] = 0
    
    if sum(feature_mock) < 3:
        data.loc[i, ['result']] = 5
    else:
        data.loc[i, ['result']] = 4
        
for i in range(8500, 8500 + 150):
    # cols = np.array([0]*16)
    data.loc[i, key_time_frame] = np.array([0]*12)
    
    feature_mock = np.random.randint(2, size=6)
    data.loc[i, time_frame_case_2] = feature_mock
    data.loc[i, ['old']] = np.random.randint(10, size=1)+18
    data.loc[i, ['total_hours']] = sum(feature_mock)*2
    data.loc[i, ['feels']] = 0
    
    if sum(feature_mock) < 3:
        data.loc[i, ['result']] = 5
    else:
        data.loc[i, ['result']] = 4
        
for i in range(12500, 12500 + 100):
    # cols = np.array([0]*16)
    data.loc[i, key_time_frame] = np.array([0]*12)
    
    feature_mock = np.random.randint(2, size=6)
    data.loc[i, time_frame_case_3] = np.array([1]*5)
    data.loc[i, ['old']] = np.random.randint(20, size=1)+15
    data.loc[i, ['total_hours']] = 5*2
    data.loc[i, ['feels']] = 1
    data.loc[i, ['result']] = 1

for i in range(17500, 17500 + 200):
    # cols = np.array([0]*16)
    data.loc[i, key_time_frame] = np.array([0]*12)
    
    feature_mock = np.random.randint(2, size=6)
    data.loc[i, time_frame_case_4] = np.array([1]*4)
    data.loc[i, ['old']] = np.random.randint(20, size=1)+15
    data.loc[i, ['total_hours']] = 4*2
    data.loc[i, ['feels']] = 1
    data.loc[i, ['result']] = 2
    
data = shuffle(data)
print(data.shape)
data.head(15)

(600, 16)

,old,feels,23h-1h,1h-3h,3h-5h,5h-7h,7h-9h,9h-11h,11h-13h,13h-15h,15h-17h,17h-19h,19h-21h,21h-23h,total_hours,result
17692,19,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
17697,30,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
12577,16,1,1,1,1,1,0,0,0,1,0,0,0,0,10,1
2534,23,0,0,1,0,0,1,1,0,0,0,0,0,0,6,4
17552,15,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
2525,18,0,0,0,1,0,0,1,0,0,0,0,0,0,4,5
17684,18,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
2531,24,0,0,1,0,0,0,0,0,0,0,0,0,0,2,5
17517,34,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
17554,30,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
17666,28,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
17541,17,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
17651,25,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
17534,32,1,1,1,1,1,0,0,0,0,0,0,0,0,8,2
8641,27,0,0,0,0,1,0,0,0,0,0,0,0,0,2,5

In [87]:
full_data = pd.read_csv('./new_data.csv')

full_data = full_data.append(data)
full_data = full_data.reset_index()
full_data.drop(columns=full_data.columns[0:2], inplace=True)
full_data.to_csv('data.csv')
full_data.shape

(665, 16)